.email{
     width: 250px;
     border-radius: 14px;
     background-color: white;
     padding: 15px 20px;
     margin: 15px auto;
     text-align: center;
}
.email-img{
     height: 150px;
}
.x-small{
     font-size:xx-small;
}
.small{
     font-size: x-small;
}
.marginTop{
     margin-top: 5px;
}
.marginBottom{
     margin-bottom: 10px;
}
*{
     margin: 0;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     box-sizing: border-box;
}
.grey{
     color: gray;
}
.black{
     color: black;
}
body{
     background-color: #dddddd;
}
.input{
     width: 100%;
     padding: 8px;
     display: inline-block;
     /* box-sizing: border-box; */
     margin: 25px 0px 10px 0px;
     border-radius: 10px;
     border: 1px solid gray;   
     box-shadow: 0px 1px 3px #cb58b2;  
}
.center{
     text-align: center;
}
.medium{
     font-size: 10px;
}
.email-btn{
     width: 100%;
     background-color: skyblue;
     padding: 9px;
     border-radius: 10px;
     border: none;
}
.innerwelcome{
     padding: 10px;
}
.work{
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #e0dcdc;
     padding: 10px;
     border-radius: 10px;
}
.innerwork{
     display: flex;
     gap: 10px;
     align-items: center;
}
.personal
{
     display: flex;
     align-items: center;
     padding: 10px;
     gap: 10px;

}
.margin{
     margin-bottom: 10px;
}
.brand{
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #e2e1e1;
     padding: 10px;
     border-radius: 10px;
     margin-top: 33px;
}
.innerbrand{
     display: flex;
     align-items: center;
     gap: 10px;
}
.port{
     display: flex;
     padding: 10px;
     align-items: center;
     gap: 10px;
}
.marginTop{
     margin-top: 15px;
}
.verysmall{
     font-size: 10px;
}
.box,.welcome{
     width: 270px;
     background-color: white;
     padding: 24px;
     margin: 20px auto;
     border-radius: 14px;
     text-align: center;
}
.card, .company{
     width: 270px;
     background-color: white;
     padding: 20px;
     margin: 20px auto;
     border-radius: 14px;
     text-align: center;
}
.align{
     text-align: left;
}
.innercard{
     width: 100%;
     display: flex;
     align-items: center;
     padding: 8px;
     border: 1px solid lightgray;
     border-radius: 10px;
     box-shadow: 0 1px 3px #cb58b2;     
}
.purple{
     color: purple;
}
.card-input{
     width: 100%;
     flex-grow: 1;
     border: none;
     font-size: 12px;
}
.small-med{
     font-size: 10px;
}
.card-icon{
     margin-right: 10px;     
}
.card-btn{
     width: 100%;
     padding: 8px;
     border: none;
     background-color: #601576;
     border-radius: 10px;
     color: white;
}
.secure{
     display: flex;
     flex-direction: row;
     justify-content: center;
     font-size: small;
     color: #484848;
     gap: 10px;
}
.innercompany{
     margin-top: 15px;
}
.company-input{
     width: 100%;
     border: none;
     border-radius: 10px;
     padding: 7px;
     box-shadow: 0 1px 3px #cb58b2; 
     margin-top: 10px;  
}
.industry{
     display: flex;
     justify-content: space-between;
     border: 1px solid lightgray;
     padding: 7px;
     align-items: center;
     border-radius: 10px;
}
.innerflex{
     display: flex;
     gap:10px;
}
.company-margin{
     margin-bottom: 3px;
}
.arrange{
     display: flex;
     gap:30px;
     justify-content: center;
     align-items: center;
}